body {
  font: 30px "Courier New", Courier, monospace;
  margin: 20px;
  background-color: deepskyblue;
}

.saludo{
  display: flex;
  font-weight: bold;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.enlacesIndex{
  font: 14px "Courier New";
  background: #fff;
  border: 1px solid #fff;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  margin: 10px;
}

.buttonList{
  display: flex;
  justify-content: center;
}

h1{
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
}

p {
  text-align: center;
}

ol,
ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.square {
  font: 14px "Courier New";
  background: #fff;
  border: 1px solid #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: 3px;
  margin-top: 3px;
  border-radius: 15px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  font: 14px "Courier New", Courier, monospace;
  padding: 6px;
  margin-left: 20px;
}
.buttonMove {
  font: 14px "Lucida Console", Monaco, monospace;
  padding: 6px;
  margin-left: 5px;
  margin-top: 7px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 10px;
}
.status {
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.padre {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 551px) {
  h1{
    font-size: 40px;
  }
  .buttonMove {
    font: 12px "Lucida Console", Monaco, monospace;
    padding: 6px;
    margin-left: 5px;
  }
  .square {
    float: left;
    font-size: 24px;
    line-height: 24px;
    height: 34px;
    margin-right: 3px;
    margin-top: 3px;
    border-radius: 15px;
    padding: 0;
    width: 34px;
  }
}
@media screen and (max-width: 401px) {
  h1{
    font-size: 35px;
  }
  .buttonMove {
    font: 10px "Lucida Console", Monaco, monospace;
    padding: 3px;
    margin-left: 3px;
    margin-top: 5px;
  }
  .square {
    float: left;
    font-size: 16px;
    line-height: 16px;
    height: 30px;
    margin-right: 3px;
    margin-top: 3px;
    border-radius: 15px;
    padding: 0;
    width: 30px;
  }
  .game {
    flex-direction: column;
    align-items: center;
  }
}
